.container {
  width: $xxl;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &.container-center {
    justify-items: center;
  }

  @media (max-width: $break-xl) {
    width: $xl;

  }
  @media (max-width: $break-lg) {
    width: $lg;

  }

  @media (max-width: $break-md) {
    width: $md;

  }

  @media (max-width: $break-sm) {
    width: $sm;

  }

  @media (max-width: $break-xs) {

    width: $xs;

  }


}






@each $size in $sizes {
  .grid-col-#{$size} {
    grid-column: span $size;
  }
}


@media (max-width: 1800px) {

  @each $size in $sizes {
    .grid-col-xxl-#{$size} {
      grid-column: span $size;
    }
  }

}

@media (max-width: 1199px) {

  @each $size in $sizes {
    .grid-col-xl-#{$size} {
      grid-column: span $size;
    }
  }

}

@media (max-width: 991px) {

  @each $size in $sizes {
    .grid-col-lg-#{$size} {
      grid-column: span $size;
    }
  }

}

@media (max-width: 767px) {
  @each $size in $sizes {
    .grid-col-md-#{$size} {
      grid-column: span $size;
    }
  }


}

@media (max-width: 575px) {

  @each $size in $sizes {
    .grid-col-sm-#{$size} {
      grid-column: span $size;
    }
  }

}



