.container {
  width: $xxl;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &.container-center {
    justify-items: center;
  }

  @media (max-width: $break-xl) {
    width: $xl;

  }
  @media (max-width: $break-lg) {
    width: $lg;

  }

  @media (max-width: $break-md) {
    width: $md;

  }

  @media (max-width: $break-sm) {
    width: $sm;

  }

  @media (max-width: $break-xs) {

    width: $xs;

  }


}






@each $size in $sizes {
  .grid-col-#{$size} {
    grid-column: span $size;
  }
}


@media (max-width: $break-xl) {

  @each $size in $sizes {
    .grid-col-xxl-#{$size} {
      grid-column: span $size;
    }
  }

}

@media (max-width: $break-lg) {

  @each $size in $sizes {
    .grid-col-xl-#{$size} {
      grid-column: span $size;
    }
  }

}

@media (max-width: $break-md) {

  @each $size in $sizes {
    .grid-col-lg-#{$size} {
      grid-column: span $size;
    }
  }

}

@media (max-width: $break-sm) {
  @each $size in $sizes {
    .grid-col-md-#{$size} {
      grid-column: span $size;
    }
  }


}

@media (max-width: $break-xs) {

  @each $size in $sizes {
    .grid-col-sm-#{$size} {
      grid-column: span $size;
    }
  }

}



.grid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: $column-gap;
  grid-row-gap: 0px;
  width: 100%;
  @media (max-width: $break-xl) {
    grid-column-gap: $column-gap-xl;
  }
  @media (max-width: $break-lg) {
    grid-column-gap: $column-gap-lg;
  }
  @media (max-width: $break-md) {
    grid-column-gap: $column-gap-md;
  }
  @media (max-width: $break-sm) {
    grid-column-gap: $column-gap-sm;
  }
  @media (max-width: $break-xs) {
    grid-column-gap: $column-gap-xs;
  }
}

//.parent-full {
//  display: grid;
//  grid-column-start: 1;
//  grid-column-end: 13;
//  grid-template-columns: repeat(12, 1fr);
//  grid-template-rows: 1fr;
//  grid-column-gap: 0px;
//  grid-row-gap: 0px;
//  width: 100%;
//}
//
//@for $i from 1 through 12 {
//  .parent-#{$i} {
//    display: grid;
//    grid-column-start: 1;
//    grid-column-end: ($i + 1);
//    grid-template-columns: repeat($i, 1fr);
//    grid-template-rows: 1fr;
//    grid-column-gap: 80px;
//    grid-row-gap: 0px;
//    width: 100%;
//    @media (max-width: 1800px) {
//      grid-column-gap: 60px;
//    }
//    @media (max-width: 1199px) {
//      grid-column-gap: 40px;
//    }
//    @media (max-width: 991px) {
//      grid-column-gap: 55px;
//      padding-top:1rem;
//      padding-bottom:3rem;
//      display: flex;
//      flex-direction: column;
//
//    }
//    @media (max-width: 767px) {
//      grid-column-gap: 25px;
//    }
//  }
//}