h1{
  font-size: $h1size;
}

h2{
  font-size: $h1size;
}

h3{
  font-size: $h1size;
}

h4{
  font-size: $h1size;
}

h5{
  font-size: $h1size;
}

h6{
  font-size: $h1size;
}

p{
  font-size:$primary-size;
}
