@each $size in $psizes {
  .mt-#{$size} {
    padding-top: #{$size}rem;
  }
  .mb-#{$size} {
    padding-top: #{$size}rem;
  }
  .my-#{$size} {
    padding-top: #{$size}rem;
    padding-bottom: #{$size}rem;
  }
}


@media (max-width: $break-xl) {

  @each $size in $psizes {
    .mt-#{$size} {
      padding-top: #{$size}rem;
    }
    .mb-#{$size} {
      padding-top: #{$size}rem;
    }
    .my-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-lg) {

  @each $size in $psizes {
    .mt-#{$size} {
      padding-top: #{$size}rem;
    }
    .mb-#{$size} {
      padding-top: #{$size}rem;
    }
    .my-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-md) {

  @each $size in $psizes {
    .mt-#{$size} {
      padding-top: #{$size}rem;
    }
    .mb-#{$size} {
      padding-top: #{$size}rem;
    }
    .my-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-sm) {
  @each $size in $psizes {
    .mt-#{$size} {
      padding-top: #{$size}rem;
    }
    .mb-#{$size} {
      padding-top: #{$size}rem;
    }
    .my-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }


}

@media (max-width: $break-xs) {

  @each $size in $psizes {
    .mt-#{$size} {
      padding-top: #{$size}rem;
    }
    .mb-#{$size} {
      padding-top: #{$size}rem;
    }
    .my-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}


