@each $size in $psizes {
  .mt-#{$size} {
    margin-top: #{$size}rem;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}rem;
  }
  .my-#{$size} {
    margin-top: #{$size}rem;
    margin-bottom: #{$size}rem;
  }
}


@media (max-width: $break-xl) {

  @each $size in $psizes {
    .mt-xl-#{$size} {
      margin-top: #{$size}rem;
    }
    .mb-xl-#{$size} {
      margin-bottom: #{$size}rem;
    }
    .my-xl-#{$size} {
      margin-top: #{$size}rem;
      margin-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-lg) {

  @each $size in $psizes {
    .mt-lg-#{$size} {
      margin-top: #{$size}rem;
    }
    .mb-lg-#{$size} {
      margin-bottom: #{$size}rem;
    }
    .my-lg-#{$size} {
      margin-top: #{$size}rem;
      margin-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-md) {

  @each $size in $psizes {
    .mt-md-#{$size} {
      margin-top: #{$size}rem;
    }
    .mb-md-#{$size} {
      margin-bottom: #{$size}rem;
    }
    .my-md-#{$size} {
      margin-top: #{$size}rem;
      margin-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-sm) {
  @each $size in $psizes {
    .mt-sm-#{$size} {
      margin-top: #{$size}rem;
    }
    .mb-sm-#{$size} {
      margin-bottom: #{$size}rem;
    }
    .my-sm-#{$size} {
      margin-top: #{$size}rem;
      margin-bottom: #{$size}rem;
    }
  }


}

@media (max-width: $break-xs) {

  @each $size in $psizes {
    .mt-xs-#{$size} {
      margin-top: #{$size}rem;
    }
    .mb-xs-#{$size} {
      margin-bottom: #{$size}rem;
    }
    .my-xs-#{$size} {
      margin-top: #{$size}rem;
      margin-bottom: #{$size}rem;
    }
  }

}


