@each $size in $psizes {
  .pt-#{$size} {
    padding-top: #{$size}rem;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}rem;
  }
  .py-#{$size} {
    padding-top: #{$size}rem;
    padding-bottom: #{$size}rem;
  }
}


@media (max-width: $break-xl) {

  @each $size in $psizes {
    .pt-xl-#{$size} {
      padding-top: #{$size}rem;
    }
    .pb-xl-#{$size} {
      padding-bottom: #{$size}rem;
    }
    .py-xl-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-lg) {

  @each $size in $psizes {
    .pt-lg-#{$size} {
      padding-top: #{$size}rem;
    }
    .pb-lg-#{$size} {
      padding-bottom: #{$size}rem;
    }
    .py-lg-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-md) {

  @each $size in $psizes {
    .pt-md-#{$size} {
      padding-top: #{$size}rem;
    }
    .pb-md-#{$size} {
      padding-bottom: #{$size}rem;
    }
    .py-md-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}

@media (max-width: $break-sm) {
  @each $size in $psizes {
    .pt-sm-#{$size} {
      padding-top: #{$size}rem;
    }
    .pb-sm-#{$size} {
      padding-bottom: #{$size}rem;
    }
    .py-sm-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }


}

@media (max-width: $break-xs) {

  @each $size in $psizes {
    .pt-xs-#{$size} {
      padding-top: #{$size}rem;
    }
    .pb-xs-#{$size} {
      padding-bottom: #{$size}rem;
    }
    .py-xs-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }
  }

}


