//breakpointy
$break-xl: 1800px;
$break-lg: 1200px;
$break-md:991px;
$break-sm: 767px;
$break-xs: 575px;

//containers
$xxl: 1618px;
$xl:1140px;
$lg:900px;
$md:720px;
$sm:514px;
$xs:100%;


//rozmiary kolumn w gridzie
$sizes: 1 2 3 4 5 6 7 8 9 10 12;

//pading sizes
$psizes: 1 2 3 4 5 7 10;

//waga fontow
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//naglowki/fonty wielkosc

$h1size: 3.75rem;//60
$h2size: 3.125rem;//50
$h3size: 2.5rem;//40
$h4size: 1.875rem;//30
$h5size: 1.25rem;//20
$h6size: 1rem;//16
$primary-size: 0.875rem;//14



//kolory
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

//szarosci
$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
) !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
) !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
) !default;



